<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mango Clicker App {% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="navbar">
        <a href="/" class="navbarClass">Home</a>
        <a href="/game"><h1 id="titleHeader"> Mango Clicker </h1></a>
        {% if session.get('username') %}
            <a href="/account" class="navbarClass">Welcome, {{ session['username'] }}</a>
        {% else %}
            <a href="/account" class="navbarClass">Sign In</a>
        {% endif %}
    </div>

    {% block content %}

    {% endblock %}


    <footer>
        Herman Sin Års Oppgave ©
    </footer>

    <script src="/static/script.js"></script>
</body>

</html>