{% extends 'base.html' %}

{% block title %} Game Page - Mango Clicker App {% endblock %}

{% block content %}

<main>
    <div class="mangoScore">
        <a><img id="mangoClick" src="/static/images/mango-svgrepo-com.svg" alt="Mango svg"></a>
        <p>Mangos:</p>
        <h2 id="mangoScore"></h2>
        <p id="notEnoughMangos"></p>
        <button id="saveScore">Save Score</button>
    </div>

    <div class="upgradeList">

        <div class="upgrade">
            <h2 id="strongerHandsHeader">Stronger Hands: 1</h2>
            <p id="strongerHandsPrice">10</p>
            <a id="strongerHandsBuy" class="buy">Buy</a>
        </div>

        <div class="upgrade">
            <h2 id="farmerHeader">Farmer: 0</h2>
            <p id="farmerPrice">50</p>
            <a id="farmerBuy" class="buy">Buy</a>
        </div>

        <div class="upgrade">
            <h2 id="upgradeFarmerHeader">Upgrade Farmers: 0</h2>
            <p id="upgradeFarmerPrice">100</p>
            <a id="upgradeFarmerBuy" class="buy">Buy</a>
        </div>

    </div>

    <div class="mangoLeaderboard">

        <h1>Mango Leaderboard</h1>
        <p>1st:</p>
        <p>2nd:</p>
        <p>3rd:</p>
        <p>4th:</p>
        <p>5th:</p>

    </div>
</main>
{% endblock %}