{% extends 'base.html' %}

{% block title %} Home - Mango Clicker App {% endblock %}

{% block content %}

<h1> Welcome to Mango Clicker 2025🥭 </h1>
<div class="info">
    <p>For you to be able to start playing you will need to create an account <a href="/templates/register.html">register</a>,</p>
    <p>or if you already have one go here <a href="/templates/login.html">login</a>.</p>
</div>
<h2> Give the game a review below! </h2>
<input type="text" id="review" placeholder="Give my game a review!">

{% endblock %}